---
import HelloAstro from '../../../src/HelloAstro.astro';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" href="logo.png" />
		<title>Demo - hello-astro</title>
		<style is:global>
			body {
				color: #fff;
				background-color: #333;
				font-weight: bold;
				font-family: sans-serif;
				position: absolute;
				left: 50%;
				top: 50%;
				transform: translate(-50%, -50%);
			}

			img, h1, h3, a {
				text-align: center;
				display: grid;
				align-items: center;
			}

			img {
				margin-left: auto;
				margin-right: 1.75rem;
			}

			a {
				color: #fff;
				text-decoration: none;
				background-color: #ff5d01;
				padding: 12px;
				border-radius: 3px;
			}
		</style>
	</head>

	<body>
		<img src="logo.png" alt="logo" />
		<h3>This is a random greeting:</h3>
		<h1><HelloAstro /></h1>
		<a href="https://www.npmjs.com/package/hello-astro">View it on npm</a>
	</body>
</html>
